 @import url("Here is another list of the web-safe fonts: http: //www.cssfontstack.com/");

 .content1 {
     max-width: 1600px;
     margin: 0 auto;
 }

 ul {
     list-style: none;
     display: flex;
     justify-content: space-around;
 }

 body {
     background-color: gold;
     font-family: fantasy, sans-serif, Verdana;
     font-size: 30px;
     margin: 150px;
     padding: 0 auto;
     justify-content: flex-start;
     padding-top: 5px;
     background-image: center;
 }

 h2 {
     margin: 15px;

 }

 h1 {
     font-family: fantasy, sans-serif, Verdana;
     font-size: 24px;
     padding: 5px;
     font-style: normal;
     font-variant: normal;
     font-weight: 80;
     line-height: 23px;
 }

 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: var(--heading-font);
     color: var(--headline-color-on-white);
 }

 h2 {
     text-align: center;
 }

 hr {
     height: 3px;
     margin: 35px 0;
     background: var(--accent1-color);
 }

 header {
     padding: 20px 50px;
     font-size: 20px;
     text-decoration: center;
     text-align: center;
     color: green;
     background-color: gold;
 }

 header>h1,
 header>h2 {
     color: var(--headline-color-on-color);
 }

 p {
     width: 80%;
     font-family: fantasy, sans-serif, Verdana;
     color: gold;
     margin: 0;
     padding: 1em;
 }

 .colors {
     width: 100%;
     min-width: 350px;
     text-align: center;
 }

 .colors th {
     background-color: gold;
 }

 .colors td {
     width: 50%;
     height: 3em;
 }

 .primary {
     background-color: var(--primary-color);
 }

 .secondary {
     background-color: var(--secondary-color);
 }

 .accent1 {
     background-color: var(--accent1-color);
 }

 .accent2 {
     background-color: var(--accent2-color);
 }

 p.colored {
     background-color: var(--paragraph-background-color);
     color: var(--paragraph-color-on-color);
 }

 nav {
     background-color: var(--nav-background-color);
     line-height: 3em;
     text-align: center;
     font-size: 1.5em;
 }

 nav,
 footer {
     background-color: gold;
     color: green;
     padding: 10px;
     margin-top: 18px;
     padding-bottom: 15px;
     padding: 25px 50px;
     padding-top: 2px;
 }

 nav a {
     text-decoration: none;
     color: gold;
     text-align: center;
     padding: 35px;
 }

 .book,
 .join {
     background-color: gold;
     color: black;
     text-decoration: none;
     font-size: 18px;
     padding: 5px 10px;
     margin-top: 50px;
     border-radius: 5pxs;
 }

 .card-img {
     border: 10px solid #7fe74f;
 }

 main section img {
     box-sizing: border-box;
 }

 nav a:link,
 nav a:visited {
     color: var(--nav-link-color);
 }

 nav a:hover {
     color: var(--nav-hover-link-color);
     background-color: var(--nav-hover-background-color);
 }

 .sitemap {
     display: grid;
     justify-content: center;

     grid-template-columns: repeat(6, 15%);
     grid-template-rows: 3em 1.5em 1.5em 3em;
     grid-template-areas: ". . home home . ."
         ". . . top . ."
         ". left left right right ."
         "page2 page2 . . page3 page3";
 }

 .sitemap>div {
     text-align: center;
 }

 .sm-home {
     grid-area: home;
     background-color: gold;
     line-height: 3em;
 }

 .sm-page2 {
     grid-area: page2;
     background-color: gold;
     line-height: 3em;
 }

 .sm-page3 {
     grid-area: page3;
     background-color: gold;
     line-height: 3em;
 }

 .top {
     grid-area: top;
     border-left: 1px solid;
 }

 .left {
     grid-area: left;
     border-top: 1px solid;
     border-left: 1px solid;
 }

 .right {
     grid-area: right;
     border-top: 1px solid;
     border-right: 1px solid;
 }

 .main-para {
     font-size: 0.5em;
     line-height: 0.5em;
 }

 #active {
     color: steelblue;
     background-color: white;
 }